.cyberAwareness{
    color: white;

    &__heading{
        color: green;
        font-size: 25px;
        padding: 20px;
    }

}

.fixedScreen{

    position: absolute;
    text-align: center;
    overflow: hidden;
    display: flex;
    bottom: 25px;
    

    .cyberImages{
        
        background-size: cover;
        mix-blend-mode: lighten;
        
    }

}



.scrollLocks{
    height: 50px;
    margin-bottom: 50px;

    :not(:last-child){
        margin-right: 100px;
    }
}