@font-face {
    font-family: headerFont;
    src: url(/fonts/headerFont.ttf);
}

@font-face {
    font-family: littleMonster;
    src: url(/fonts/LittleMonster-YzLdo.otf);
}

@font-face {
    font-family: monsterBike;
    src: url(/fonts/monsterBike.ttf);
}
