.headerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: headerFont;
}

.headerNav .headerBg {
  position: absolute;
  margin-top: -10px;
}

.headerNav__hamburger {
  margin-top: 18px;
  margin-left: 5%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.headerNav__hamburger > span {
  display: block;
  background-color: red;
  width: 26px;
  height: 2px;
}

.headerNav__hamburger > span:not(:last-child) {
  margin-bottom: 5px;
}

.headerNav__logo {
  height: 50px;
  width: 50px;
  margin-right: 5%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.headerNav__links {
  position: relative;
  color: #36C186;
  text-decoration: none;
}

.headerNav__links::before {
  content: "";
  position: absolute;
  display: block;
  border-radius: 2px;
  height: 5px;
  background: red;
  opacity: 0;
  left: 0;
  right: 0;
  bottom: -10px;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.headerNav__links:hover {
  color: green;
}

.headerNav__links:hover::before {
  opacity: 1;
}

.headerNav .headerContainer {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 80%;
          flex: 1 1 80%;
  overflow: hidden;
}

.headerNav .headerContainer .firstBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerNav .headerContainer .firstBlock__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
}

.headerNav .headerContainer .secondBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.headerNav .headerContainer .secondBlock__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
}

@font-face {
  font-family: headerFont;
  src: url(/fonts/headerFont.ttf);
}

@font-face {
  font-family: littleMonster;
  src: url(/fonts/LittleMonster-YzLdo.otf);
}

@font-face {
  font-family: monsterBike;
  src: url(/fonts/monsterBike.ttf);
}

h1 {
  font-family: littleMonster;
}

p {
  color: #F7F36B;
  font-family: 'BIZ UDMincho', serif;
}

.styleTextPara {
  font-family: 'BIZ UDMincho', serif;
  font-style: italic;
  word-spacing: 5px;
  line-height: 1.6;
  margin-left: 50px;
  margin-right: 50px;
}

.cyberAwareness__heading {
  color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 10px;
  font-style: italic;
  font-size: 20px;
  padding: 20px;
}

.cyberAwareness__heading img {
  margin-top: 35px;
  position: absolute;
  right: 20px;
  height: 64px;
  width: 80px;
}

.scrollLocks {
  height: 50px;
  margin-bottom: 50px;
}

.scrollLocks :not(:last-child) {
  margin-right: 100px;
}

.secHeading {
  color: #F7F36B;
}

.secHeading__heading {
  right: 0;
  color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 10px;
  font-style: italic;
  font-size: 20px;
  padding: 20px;
}

.secHeading__heading h1 {
  color: red;
  right: 20px;
  position: absolute;
}

.secHeading__heading img {
  margin-top: 35px;
  position: relative;
  left: 20px;
  height: 64px;
  width: 80px;
}

.grad {
  background-image: -webkit-gradient(linear, left top, right top, from(#002651), to(#121313));
  background-image: linear-gradient(to right, #002651, #121313);
  background-repeat: no-repeat;
  background-size: cover;
}

.fix {
  position: fixed;
  bottom: 0;
  left: 0;
  mix-blend-mode: lighten;
}
/*# sourceMappingURL=styles.css.map */